
@font-face {
  font-family: "Determination";
  src: url("assets/fonts/determination.ttf");
}


body {
  font-family: "Determination", monospace;
  background-image: url(images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(0, 0, 0);
  text-align: center;
  padding-top: 100px;
  text-shadow:
  -2px 0 rgb(255, 255, 255),
     2px 0 rgb(255, 255, 255),
     0 -2px rgb(255, 255, 255),
     0  2px rgb(255, 255, 255);

  image-rendering: pixelated;
}


h1 {
  font-size: 48px;
}


.buttons {
  margin-top: 40px;
}


button {
  font-family: "Determination", monospace;
  font-size: 24px;
  color: white;

  width: 128px;
  height: 48px;

  border: none;
  background-color: transparent;
  background-size: contain;
  background-repeat:no-repeat;

  cursor: pointer;
  image-rendering: pixelated;
}

#yesb {
background-image: url(images/boton\ si.png);
}

#yesb:hover {
  background-image: url(images/boton\ si\ hover.png);
}

#yesb:active {
  background-image: url(images/boton\ si\ click.png);
}

#nob {
background-image: url(images/boton\ no.png);
}

#nob:hover {
  background-image: url(images/boton\ no\ hover.png);
}

#nob:active {
  background-image: url(images/boton\ no\ click.png);
}

#screen-yay {
  display: none;
  min-height: 100vh;
}
  
#screen-yay h1 {
  margin-top: -90px;
  margin-bottom: 10px;
}

.photos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;

  max-width: 450px;
  
  margin: 40px auto;
}

.photos img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1 / 1;
  border-radius: 12px;
}

body {
  overflow: hidden;
}

.confetti {
  position: fixed;
  top: -10px;
  width: 8px;
  height: 8px;
  background-color: red;

  animation: fall linear forwards;
  z-index: 9999;
}

@keyframes fall {
  to {
    transform: translateY(110vh) rotate(360deg);
    opacity: 0;
  }
}